* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: #79076f;
}

#logo img {
    margin: 8px 12px;
    height: 80px;
}

.topnav a {
    color: white;
    padding: 3px 22px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: rgb(173, 169, 169);
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.form-control {
    color: rgb(207, 204, 204);
}

.form-button {
    border: none;
    background-color: #79076f;
    padding: 0.6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px !important;
    border-radius: 4px !important;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 23px;
}

.fa {
    color: white;
}

#bank {
    width: 100%;
    height: 700px;
}

.container {
    position: relative;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 100px;
    color: rgb(150, 145, 145);
    ;
}

body {
    background-color: black;
    ;
}