* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: #79076f;
}

#logo img {
    margin: 8px 12px;
    height: 80px;
}

.topnav a {
    color: white;
    padding: 3px 22px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: rgb(219, 107, 172);
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#bank {
    width: 100%;
    height: 700px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}


/*foote */

footer {
    background-color: #af0677;
    text-align: center;
    color: white;
    font-size: 23px;
}

.fa {
    color: white;
}