* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: #2e042a;
    ;
}

#logo img {
    margin: 8px 12px;
    height: 80px;
}

.topnav a {
    color: white;
    padding: 3px 22px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: rgb(173, 169, 169);
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

footer {
    background-color: #2e042a;
    padding: 3px 20px;
    text-align: center;
    color: white;
    font-size: 23px;
    /* Height of the footer*/
}

.bottom {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    color: rgb(237, 235, 240);
}

.fa {
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

td {
    color: white;
    text-align: center;
}

.btn mt-3 {
    border: none;
    background-color: #79076f;
    padding: 0.6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px !important;
    margin: 4px 2px !important;
    border-radius: 4px !important;
}

.py-2 {
    color: white;
}

.text-center {
    color: white;
}

body {
    background-color: black;
    ;
}